{{define "content"}}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Username</th>
      {{if .ShowAdmin}}
      <th>Status</th>
      <th>Make Admin</th>
      {{end}}
    </tr>
  </thead>
  <tbody> 
    {{$showAdmin := .ShowAdmin}}
    {{range $u := .Users}}
    <tr>
      <td>{{$u.Username}}</td>
      {{if $showAdmin}}
      <td>
        <form action="/changeApprovalstatus/{{$u.Username}}" method="post">
          <button type="submit" class="btn btn-primary">
          {{$u.Approvalstatus}}
          </button>
        </form>
      </td>
      <td>
        <form action="/changeAdminstatus/{{$u.Username}}" method="post">
          <button type="submit" class="btn btn-primary">
          {{$u.Adminstatus}}
          </button>
        </form>
      </td>
      {{end}}
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
