{{define "content"}}
<div class="container">
<div class="list-group">
{{range .Directory}}
<a href="{{.Path}}/{{.Name}}" class="list-group-item">{{.Name}}</a>
{{end}}
</div>
</div>
  {{$v := .Video}}
  {{if .Video}}
    <div align="center" class="embed-responsive">
     <video id="MY_VIDEO_1" class="video-js embed-responsive-item" controls
          preload="auto" height="500"
          data-setup="{}">
          <source src="{{$v.Source}}" type='video/webm'>
          {{if $v.Subpath}}<track src="{{$v.Subpath}}" kind="Subtitles" srclang="de" label="german">{{end}}
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>
    </div>
  {{end}}
 

{{end}}
